<!DOCTYPE html>
<html>
	<head>
		<title>WiFi Connect</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css">

		<!-- Latest compiled JavaScript -->
		<script src="js/jquery.min.js" />
		<script src="js/jquery-ui.min.js"></script>

		<script src="js/index.js"></script>
		<script src="js/bootstrap.min.js"></script>

		<link rel="shortcut icon" href="img/SD-logo.ico">

		<style>
			body{padding-top: 80px;}
			logo{margin-top: -4px;}
			.spacer{margin-top: 10px;}
		</style>
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand"><img id="logo" height=30 src="/img/SD-logo.ico"></img></a>
					<a class="navbar-brand">Smart Diagnostics</a>
				</div>
			</div>
		</nav>


		<form action="/setconfig" method="post" enctype="application/x-www-form-urlencoded">
			<div class="container theme-showcase" role="main">
				<div class="page-header">
					<img class="pull-right" height="20%" width="14%" src="/img/Smart_Diagnostics_Logo.png"></img>
					<h3>Collector Configuration</h3>
				</div>
	
				<div class="row col-xs-12">
					<div class="col-xs-2"><label>Network Configuration</label></div>
					<div class="input-group col-xs-10" id="ethernet-select-type" class="col-md-3" name="ethernet-select-type">
						<input type="radio" name="ethernet_dhcp_enabled" id="DHCP" value="1" {{#if ethernet_dhcp_enabled}}checked="checked"{{/if}}>DHCP&nbsp;
						<input type="radio" name="ethernet_dhcp_enabled" id="Static" value="0" {{#unless ethernet_dhcp_enabled}}checked="checked"{{/unless}}>Static
						<input type="hidden" id="ethernet-select" name="ethernet-select">
					</div>

					<div class="input-group ethernet col-xs-10" class="col-md-3">
						<div class="row col-xs-12">
							<div class="col-md-2"><label for="ethernet_ip_address">IP Address</label></div>
							<div class="col-xs-6">
								<input type="text" class="form-control" name="ethernet_ip_address" value="{{ethernet_ip_address}}">
							</div>
						</div>
						<div class="row col-xs-12">
							<div class="col-md-2"><label for="ethernet_subnet_mask">Subnet Mask</label></div>
							<div class="col-xs-6">
								<input type="text" class="form-control" name="ethernet_subnet_mask" value="{{ethernet_subnet_mask}}">
							</div>
						</div>
						<div class="row col-xs-12">
							<div class="col-md-2"><label for="ethernet_gateway">Gateway</label></div>
							<div class="col-xs-6">
								<input type="text" class="form-control" name="ethernet_gateway" value="{{ethernet_gateway}}">
							</div>
						</div>
						<div class="row col-xs-12">
							<div class="col-md-2"><label for="ethernet_dns">DNS</label></div>
							<div class="col-xs-6">
								<input type="text" class="form-control" name="ethernet_dns" value="{{#each ethernet_dns}}{{this}}, {{/each}}">
							</div>
						</div>
					</div>
				</div>

				<div class="row-spacer">
					<p>&nbsp;</p>
				</div>

				<div class="row col-xs-12">
					<div class="col-xs-2"><label>Data Storage Server</label></div>
					<div class="input-group col-xs-10" id="data-source-type" class="col-md-3" name="data-source-type">
							<input type="radio" name="cloud_storage_enabled" id="Cloud" value="1" {{#if cloud_storage_enabled }}checked="checked"{{/if}}>Cloud&nbsp;
							<input type="radio" name="cloud_storage_enabled" id="Network" value="0" {{#unless cloud_storage_enabled}}checked="checked"{{/unless}}>Network URL
							<input type="hidden" id="selected-data-source" name="selected-data-source">
					</div>
					
					<div class="row network col-xs-12">
						<div class="col-md-2"><label for="destinationAddress">Destination</label></div>
						<div class="col-xs-6">
							<input type="text" class="form-control" name="destinationaddress" value="{{data_destination_url}}">
								example: http://host-name-here:52000
						</div>
					</div>
				</div>

				<div class="row-spacer">
					<p>&nbsp;</p>
				</div>
				
				<div class="page-header">
					<h3>Proxy Settings</h3>
				</div>
	
				<div class="row col-xs-12">
					<div class="col-xs-2"></div>
					<div class="input-group col-xs-10" id="proxy-type" class="col-md-3" name="proxy-type">
						&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="radio" name="proxy" id="proxy_off" value="0" {{#unless proxy_enabled }}checked="checked"{{/unless}}>Disable&nbsp;&nbsp;&nbsp;
							<input type="radio" name="proxy" id="proxy_on" value="1" {{#if proxy_enabled }}checked="checked"{{/if}}>Enable
							<input type="hidden" id="proxy-select" name="proxy-select">
					</div>
				</div>
				<br>
	
				<div class="row proxy col-xs-12">
					<div class="col-md-2"><label for="proxy_login">Login</label></div>
					<div class="col-xs-6">
						<input type="text" class="form-control" name="proxy_login" value="{{proxy_login}}">
					</div>
				</div>
					
				<div class="row proxy col-xs-12">
					<div class="col-md-2"><label for="proxy_password">Password</label></div>
					<div class="col-xs-6">
						<input type="text" class="form-control" name="proxy_password" value="{{proxy_password}}">
					</div>
				</div>

				<div class="row proxy col-xs-12">
					<div class="col-md-2"><label for="proxy_gateway">Gateway</label></div>
					<div class="col-xs-6">
						<input type="text" class="form-control" name="proxy_gateway" value="{{proxy_gateway}}">
					</div>
				</div>

				<div class="row proxy col-xs-12">
					<div class="col-md-2"><label for="proxy_gateway_port">Port</label></div>
					<div class="col-xs-6">
						<input type="text" class="form-control" name="proxy_gateway_port" value="{{proxy_gateway_port}}">
					</div>
				</div>

				<div class="row spacer">
					<button type="submit" id="updateDataSource" class='btn btn-success col-md-3'>Update Configuration</button>
				</div>
				
				</div>
			</form>

			<!-- jump to configure the wifi settings -->
			<form class="form form-horizontal" id='ssid-form' action='/ssid' method='get'>
				<div class="container theme-showcase" role="main"></div>
				<div class="page-header">
					<h3>&nbsp;</h3>
				</div>

				<div class="col-xs-2"><label>Wifi Settings</label></div>
					<button type="submit" id="changeWifiSettings" class='btn btn-success col-sm-3'>Change</button>
				</div>
			</form>

			<div class="row col-xs-12">
				<div class="row-spacer">
					<p>&nbsp;</p>
				</div>
	
				<div class="row-spacer">
					<p>&nbsp;</p>
				</div>
			</div>

		<script>
			$(function() {
				function ChooseDataSource(checked){
					if(checked == 'Network') {
						$('.network').show();
					} else {
						$('.network').hide();
					}
					// this is all pretty weird using the selected data source to store data and not the item iteself.
					$("#selected-data-source").val(checked);
				}
				$("input[name='cloud_storage_enabled']").on('click', function() {
					ChooseDataSource($(this).attr("id"));
				});

				function SetupEthernet(checked){
					if(checked == 'Static') {
						$('.ethernet').show();
					} else {
						$('.ethernet').hide();
					}
					// this is all pretty weird using the selected data source to store data and not the item iteself.
					$("#ethernet-select").val(checked);
				}
				$("input[name='ethernet_dhcp_enabled']").on('click', function() {
					SetupEthernet($(this).attr("id"));
				});
	
				function ChooseProxy(checked){
					if(checked == 'proxy_on') {
						$('.proxy').show();
					} else {
						$('.proxy').hide();
					}
					$("#proxy-select").val(checked);
				}
				$("input[name='proxy']").on('click', function() {
					ChooseProxy($(this).attr("id"));
				});

				// default setup of hide/show for cloud storage
				if($('input[name=cloud_storage_enabled]').is(':checked')){
					var v = $('input[name=cloud_storage_enabled]:checked').val();
					if (v==1) { // value of 1 used for cloud enable which hides the settings.
						$('.network').hide();
					} else {
						$('.network').show();
					}
				};

				// default setup of hide/show for cloud storage
				if($('input[name=proxy]').is(':checked')){
					var v = $('input[name=proxy]:checked').val();
					if (v==1) {
						$('.proxy').show();
					} else {
						$('.proxy').hide();
					}
				};

				// default setup of hide/show for cloud storage
				if($('input[name=ethernet_dhcp_enabled]').is(':checked')){
					var v = $('input[name=ethernet_dhcp_enabled]:checked').val();
					if (v==1) { // 1 value means dhcp is enabled.
						$('.ethernet').hide();
					} else {
						$('.ethernet').show();
					}
				};
			});

		</script>
	</body>
</html>
