<!DOCTYPE html>
<html>
	<head>
		<title>WiFi Connect</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css">

		<!-- Latest compiled JavaScript -->
		<script src="js/jquery.min.js" />
		<script src="js/jquery-ui.min.js"></script>

		<script src="js/index.js"></script>
		<script src="js/bootstrap.min.js"></script>

		<link rel="shortcut icon" href="img/SD-logo.ico">

		<style>
			body{padding-top: 80px;}
			logo{margin-top: -4px;}
			.spacer{margin-top: 10px;}
			.h4{color: #8ba400;}
		</style>
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand"><img id="logo" height=30 src="/img/SD-logo.ico"></img></a>
					<a class="navbar-brand">Smart Diagnostics</a>
				</div>
			</div>
		</nav>

		<div class="container theme-showcase" role="main">
			<div class="row">
				<img class="pull-right" height="20%" width="14%" src="/img/Smart_Diagnostics_Logo.png"></img>
			</div>
			<div class="row">
				<h4>Ethernet Configuration</h4>
			</div>

			<div class="row col-lg-8">
				<div class="input-group col-md-10" id="alldata" class="col-md-10" name="alldata">
					<div class="row ethernet_dhcp col-xs-12">
						<div class="col-md-4"><label for="ethernet_dhcp_enabled">DHCP Enabled</label></div>
							<p>{{ethernet_dhcp_enabled}}</p>
					</div>
					<div class="row ethernet_ip col-xs-12">
						<div class="col-md-4"><label for="ethernet_ip_address">IP Address</label></div>
							<p>{{ethernet_ip_address}}</p>
					</div>
					<div class="row ethernet_subnet col-xs-12">
						<div class="col-md-4"><label for="ethernet_subnet_mask">Subnet Mask</label></div>
							<p>{{ethernet_subnet_mask}}</p>
					</div>
					<div class="row ethernet_gateway col-xs-12">
						<div class="col-md-4"><label for="ethernet_gateway">Gateway</label></div>
							<p>{{ethernet_gateway}}</p>
					</div>
					<div class="row ethernet_dns col-xs-12">
						<div class="col-md-4"><label for="ethernet_dns">DNS</label></div>
							<p>{{ethernet_dns}}</p>
					</div>
					<div class="row">
						<h4>&nbsp;</h4>
					</div>
					<div class="row">
						<h4>Cloud Storage</h4>
					</div>
					<div class="row cloud-storage col-xs-12">
						<div class="col-md-4"><label for="cloud-storage">Store in Cloud</label></div>
							<p>{{cloud_storage_enabled}}</p>
					</div>
					<div class="row network col-xs-12">
						<div class="col-md-4"><label for="destinationAddress">Non Cloud Destination</label></div>
							<p>{{data_destination_url}}</p>
					</div>
					<div class="row">
						<h4>&nbsp;</h4>
					</div>
					<div class="row">
						<h4>Proxy</h4>
					</div>
					<div class="row proxy col-xs-12">
						<div class="col-md-4"><label for="proxy_login">Username</label></div>
							<p>{{proxy_login}}</p>
					</div>
					<div class="row proxy col-xs-12">
						<div class="col-md-4"><label for="proxy_password">Password</label></div>
							<p>{{proxy_password}}</p>
					</div>
					<div class="row proxy col-xs-12">
						<div class="col-md-4"><label for="proxy_gateway">Gateway</label></div>
							<p>{{proxy_gateway}}</p>
					</div>
					<div class="row proxy col-md-12">
						<div class="col-md-4"><label for="proxy_gateway_port">Port</label></div>
							<p>{{proxy_gateway_port}}</p>
					</div>
				</div>
			</div>

		<script>
			$(function() {
				function ChooseDataSource(checked){
					if(checked == 'Network') {
						$('.network').show();
					} else {
						$('.network').hide();
					}
					// this is all pretty weird using the selected data source to store data and not the item iteself.
					$("#selected-data-source").val(checked);
				}
				$("input[name='cloud_storage_enabled']").on('click', function() {
					ChooseDataSource($(this).attr("id"));
				});

				function SetupEthernet(checked){
					if(checked == 'Static') {
						$('.ethernet').show();
					} else {
						$('.ethernet').hide();
					}
					// this is all pretty weird using the selected data source to store data and not the item iteself.
					$("#ethernet-select").val(checked);
				}
				$("input[name='ethernet_dhcp_enabled']").on('click', function() {
					SetupEthernet($(this).attr("id"));
				});
	
				function ChooseProxy(checked){
					if(checked == 'proxy_on') {
						$('.proxy').show();
					} else {
						$('.proxy').hide();
					}
					$("#proxy-select").val(checked);
				}
				$("input[name='proxy']").on('click', function() {
					ChooseProxy($(this).attr("id"));
				});

				// default setup of hide/show for cloud storage
				if($('input[name=cloud_storage_enabled]').is(':checked')){
					var v = $('input[name=cloud_storage_enabled]:checked').val();
					if (v==1) { // value of 1 used for cloud enable which hides the settings.
						$('.network').hide();
					} else {
						$('.network').show();
					}
				};

				// default setup of hide/show for cloud storage
				if($('input[name=proxy]').is(':checked')){
					var v = $('input[name=proxy]:checked').val();
					if (v==1) {
						$('.proxy').show();
					} else {
						$('.proxy').hide();
					}
				};

				// default setup of hide/show for cloud storage
				if($('input[name=ethernet]').is(':checked')){
					var v = $('input[name=ethernet]:checked').val();
					if (v==1) {
						$('.ethernet').show();
					} else {
						$('.ethernet').hide();
					}
				};
			});

		</script>
	</body>
</html>
