<!DOCTYPE html>
<html>
	<head>
		<title>WiFi Connect</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css">

		<!-- Latest compiled JavaScript -->
		<script src="js/jquery.min.js" />
		<script src="js/jquery-ui.min.js"></script>

		<script src="js/index.js"></script>
		<script src="js/bootstrap.min.js"></script>

		<link rel="shortcut icon" href="img/SD-logo.ico">

		<style>
			body{padding-top: 80px;}
			logo{margin-top: -4px;}
			.spacer{margin-top: 10px;}
		</style>
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand"><img id="logo" height=30 src="/img/SD-logo.ico"></img></a>
					<a class="navbar-brand">Smart Diagnostics</a>
				</div>
			</div>
		</nav>


		<form action="/setconfig" method="post" enctype="application/x-www-form-urlencoded">
			<div class="container theme-showcase" role="main">
				<div class="page-header">
					<img class="pull-right" height="20%" width="14%" src="/img/Smart_Diagnostics_Logo.png"></img>
					<h3>Collector Configuration</h3>
				</div>
	
				<div class="row col-xs-12">
					<div class="col-xs-2"><label>Network Configuration</label></div>
					<div class="input-group col-xs-10" id="network-select-type" class="col-md-3" name="network-select-type">
						<input type="radio" name="network_configuration_type" value="0">Ethernet Static &nbsp;
						<input type="radio" name="network_configuration_type" value="1">Ethernet DHCP &nbsp;
						<input type="radio" name="network_configuration_type" value="2">Wifi DHCP &nbsp;
					</div>
					

					<div class="input-group ethernet_static col-xs-10" class="col-md-3">
						<div class="row col-xs-12">
							<div class="col-md-2"><label for="ethernet_ip_address">IP Address</label></div>
							<div class="col-xs-6">
                                <input type="text" class="form-control" name="ethernet_ip_address" value="{{ip_address}}">
							</div>
						</div>
						<div class="row col-xs-12">
							<div class="col-md-2"><label for="ethernet_subnet_mask">Subnet Mask</label></div>
							<div class="col-xs-6">
								<input type="text" class="form-control" name="ethernet_subnet_mask" value="{{netmask}}">
							</div>
						</div>
						<div class="row col-xs-12">
							<div class="col-md-2"><label for="ethernet_gateway">Gateway</label></div>
							<div class="col-xs-6">
                                <input type="text" class="form-control" name="ethernet_gateway" value="{{gateway}}">
							</div>
						</div>
						<div class="row col-xs-12">
							<div class="col-md-2"><label for="ethernet_dns">DNS</label></div>
							<div class="col-xs-6">
								<input type="text" class="form-control" name="ethernet_dns" value="{{#each dns}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}">
							</div>
						</div>
						<div class="row-spacer">
							<p>&nbsp;</p>
						</div>
						<div class="row-spacer">
							<p>&nbsp;</p>
						</div>
					</div>
					
					<div class="input-group wifi_dhcp col-xs-10" class="col-md-3">
						<div class="row col-xs-12">
							<div class="col-md-2"><label for="wifi_ssid">Wifi SSID</label></div>
							<div class="col-xs-6">
								<input type="text" class="form-control" name="wifi_ssid" value="">
							</div>
						</div>
						<div class="row col-xs-12">
							<div class="col-md-2"><label for="wifi_passphrase">Wifi Password</label></div>
							<div class="col-xs-6">
								<input type="passphrase" class="form-control" name="wifi_passphrase" value="">
							</div>
						</div>
						<div class="row-spacer">
							<p>&nbsp;</p>
						</div>
						<div class="row-spacer">
							<p>&nbsp;</p>
						</div>
					</div>
				</div>
				<div class="row-spacer">
					<p>&nbsp;</p>
				</div>	

				<div class="row col-xs-12">
					<div class="col-xs-2"><label>Data Storage Server</label></div>
					<div class="input-group col-xs-10" id="data-source-type" class="col-md-3" name="data-source-type">
						<input type="radio" name="cloud_storage_enabled" value="1">Cloud&nbsp;
						<input type="radio" name="cloud_storage_enabled" value="0">Network URL&nbsp;
					</div>
					<div class="row show_cloud_settings col-xs-12">
						<div class="col-md-2"><label for="destinationAddress">Destination</label></div>
						<div class="col-xs-6">
							<input type="text" class="form-control" name="destinationaddress" value="{{data_destination_url}}">
								example: http://host-name-here:52000
						</div>
					</div>
					<div class="row-spacer">
						<p>&nbsp;</p>
					</div>
				</div>

				<div class="page-header">
					<h3>Proxy Settings</h3>
				</div>
				<div class="row col-xs-12">
					<div class="col-xs-2"></div>
					<div class="input-group col-xs-10" id="proxy-type" class="col-md-3" name="proxy-type">&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="proxy_enabled" value="0">Disable&nbsp;&nbsp;&nbsp;
						<input type="radio" name="proxy_enabled" value="1">Enable&nbsp;
					</div>
				</div>
				<br>
	
				<div class="row show_proxy_settings col-xs-12">
					<div class="row col-xs-12">
						<div class="col-md-2"><label for="proxy_login">Login</label></div>
						<div class="col-xs-6">
							<input type="text" class="form-control" name="proxy_login" value="{{proxy.login}}">
						</div>
					</div>
					<div class="row col-xs-12">
						<div class="col-md-2"><label for="proxy_password">Password</label></div>
						<div class="col-xs-6">
							<input type="text" class="form-control" name="proxy_password" value="{{proxy.password}}">
						</div>
					</div>
					<div class="row col-xs-12">
						<div class="col-md-2"><label for="proxy_gateway">Gateway</label></div>
						<div class="col-xs-6">
							<input type="text" class="form-control" name="proxy_gateway" value="{{proxy.gateway}}">
						</div>
					</div>
					<div class="row col-xs-12">
						<div class="col-md-2"><label for="proxy_gateway_port">Port</label></div>
						<div class="col-xs-6">
							<input type="text" class="form-control" name="proxy_gateway_port" value="{{proxy.gateway_port}}">
						</div>
					</div>
				</div>
	
				<div class="row spacer">
					<button type="submit" id="updateDataSource" class='btn btn-success col-md-3'>Update Configuration</button>
				</div>
				
				</div>
			</form>

			<div class="row col-xs-12">
				<div class="row-spacer">
					<p>&nbsp;</p>
				</div>
			</div>

		<script>
			$(function() {
				// handlers for radio button presses.
				$("input[name='cloud_storage_enabled']").on('click', function() {
					var val = $(this).attr("value");
                    showHideCloudDiv(parseInt(val));
				});
				$("input[name='network_configuration_type']").on('click', function() {
					var val = $(this).attr("value");
					showHideNetworkDiv(parseInt(val));
				});
				$("input[name='proxy_enabled']").on('click', function() {
					var val = $(this).attr("value");
					showHideProxyDiv(parseInt(val));
				});
	
				//setup cloud default values
				$(function() {
					var $radios = $('input[name=cloud_storage_enabled]');
					if($radios.is(':checked') === false) {
						//default is bool value, true false, do a test and use int from there.
						if ("{{cloud_storage_enabled}}" === "true") {
							showHideCloudDiv(1);
							$radios.filter('[value=1]').prop('checked', true);
						} else {
							$radios.filter('[value=0]').prop('checked', true);
							showHideCloudDiv(0);
						}
					}
				});

				// select the network type by default
				$(function() {
					var $radios = $('input[name=network_configuration_type]');
					if($radios.is(':checked') === false) {
						$radios.filter('[value={{network_configuration_type}}]').prop('checked', true);
						showHideNetworkDiv({{network_configuration_type}});
					}
				});

				//setup proxy default values
				$(function() {
					var $radios = $('input[name=proxy_enabled]');
					if($radios.is(':checked') === false) {
						if ("{{proxy_enabled}}" === "true") {
							$radios.filter('[value=1]').prop('checked', true);
							showHideProxyDiv(1);
						} else {
							$radios.filter('[value=0]').prop('checked', true);
							showHideProxyDiv(0);
						}
					}
				});

				// select the network type by default
				function showHideNetworkDiv(val) {
					if (val===0) { // 0 means static ethernet
						$('.ethernet_static').show();
						$('.wifi_dhcp').hide();
					} else if (val===1) { //ethernet dhcp 
						$('.ethernet_static').hide();
						$('.wifi_dhcp').hide();
					} else if (val===2) { // wifi dhcp
						$('.ethernet_static').hide();
						$('.wifi_dhcp').show();
					}
				};

				function showHideCloudDiv(val) {
					//console.log("Show Hide cloud div given ", val);
					if(val===1) {
						$('.show_cloud_settings').show();
					} else {
						$('.show_cloud_settings').hide();
					}
				}

				function showHideProxyDiv(val) {
					//console.log("Show Hide proxy div given", val);
					if(val===1) {
						$('.show_proxy_settings').show();
					} else if (val===0) {
						$('.show_proxy_settings').hide();
					}
				}
				
			}); // end of onload

		</script>
	</body>
</html>
