<!DOCTYPE html>
<html>
	<head>
		<title>WiFi Connect</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css">

		<!-- Latest compiled JavaScript -->
		<script src="js/jquery.min.js" />
		<script src="js/jquery-ui.min.js"></script>

		<script src="js/index.js"></script>
		<script src="js/bootstrap.min.js"></script>

		<link rel="shortcut icon" href="img/SD-logo.ico">

		<style>
			body{padding-top: 80px;}
			logo{margin-top: -4px;}
			.spacer{margin-top: 10px;}
		</style>
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand"><img id="logo" height=30 src="/img/SD-logo.ico"></img></a>
					<a class="navbar-brand">Smart Diagnostics</a>
				</div>
			</div>
		</nav>


		<form action="/setconfig" method="post" enctype="application/x-www-form-urlencoded">
			<div class="container theme-showcase" role="main">
				<div class="page-header">
					<img class="pull-right" height="20%" width="14%" src="/img/Smart_Diagnostics_Logo.png"></img>
					<h3>Collector Configuration</h3>
				</div>
	
				<div class="row col-xs-12">
					<div class="col-xs-4"><label>Network Configuration</label></div>
					<div class="input-group col-xs-8" id="network-select-type" class="col-md-3" name="network-select-type">
						<input type="radio" name="network_configuration_type" value="0">Ethernet Static &nbsp;
						<input type="radio" name="network_configuration_type" value="1">Ethernet DHCP &nbsp;
						<input type="radio" name="network_configuration_type" value="2">Wifi Static &nbsp;
						<input type="radio" name="network_configuration_type" value="3">Wifi DHCP &nbsp;
					</div>
					
					<div class="input-group ethernet_static col-xs-10" class="col-md-3">
						<div class="row col-xs-12">
                            <div class="col-xs-1">&nbsp;</div>
							<div class="col-xs-4"><label for="ip_address">IP Address</label></div>
							<div class="col-xs-7">
                                <input type="text" class="form-control" name="ip_address" value="{{ip_address}}">
							</div>
						</div>
						<div class="row col-xs-12">
                            <div class="col-xs-1">&nbsp;</div>
							<div class="col-xs-4"><label for="subnet_mask">Subnet Mask</label></div>
							<div class="col-xs-7">
								<input type="text" class="form-control" name="subnet_mask" value="{{netmask}}">
							</div>
						</div>
						<div class="row col-xs-12">
                            <div class="col-xs-1">&nbsp;</div>
							<div class="col-xs-4"><label for="gateway">Gateway</label></div>
							<div class="col-xs-7">
                                <input type="text" class="form-control" name="gateway" value="{{gateway}}">
							</div>
						</div>
						<div class="row col-xs-12">
                            <div class="col-xs-1">&nbsp;</div>
							<div class="col-xs-4"><label for="dns">DNS</label></div>
							<div class="col-xs-7">
								<input type="text" class="form-control" name="dns" value="{{#each dns}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}">
							</div>
						</div>
						<div class="row-spacer">
							<p>&nbsp;</p>
						</div>
						<div class="row-spacer">
							<p>&nbsp;</p>
						</div>
					</div>
					
					<div class="input-group wifi_dhcp col-xs-10" class="col-md-3">
						<div class="row col-xs-12">
                            <div class="col-xs-1">&nbsp;</div>
							<div class="col-xs-4"><label for="wifi_ssid">Wifi SSID</label></div>
							<div class="col-xs-7">
								<input type="text" class="form-control" name="wifi_ssid" value="">
							</div>
						</div>
						<div class="row col-xs-12">
                            <div class="col-xs-1">&nbsp;</div>
							<div class="col-xs-4"><label for="wifi_passphrase">Wifi Password</label></div>
							<div class="col-xs-7">
								<input type="password" class="form-control" name="wifi_passphrase" value="">
							</div>
						</div>
						<div class="row-spacer">
							<p>&nbsp;</p>
						</div>
						<div class="row-spacer">
							<p>&nbsp;</p>
						</div>
					</div>

                    <div class="input-group wifi_static col-xs-10" class="col-md-3">
						<div class="row col-xs-12">
                            <div class="col-xs-1">&nbsp;</div>
							<div class="col-xs-4"><label for="wifi_ssid">Wifi SSID</label></div>
							<div class="col-xs-7">
								<input type="text" class="form-control" name="wifi_ssid" value="">
							</div>
						</div>
						<div class="row col-xs-12">
                            <div class="col-xs-1">&nbsp;</div>
							<div class="col-xs-4"><label for="wifi_passphrase">Wifi Password</label></div>
							<div class="col-xs-7">
								<input type="password" class="form-control" name="wifi_passphrase" value="">
							</div>
						</div>
                        <div class="row col-xs-12">
                            <div class="col-xs-1">&nbsp;</div>
							<div class="col-xs-4"><label for="ip_address">IP Address</label></div>
							<div class="col-xs-7">
                                <input type="text" class="form-control" name="ip_address" value="{{ip_address}}">
							</div>
						</div>
						<div class="row col-xs-12">
                            <div class="col-xs-1">&nbsp;</div>
							<div class="col-xs-4"><label for="subnet_mask">Subnet Mask</label></div>
							<div class="col-xs-7">
								<input type="text" class="form-control" name="subnet_mask" value="{{netmask}}">
							</div>
						</div>
						<div class="row col-xs-12">
                            <div class="col-xs-1">&nbsp;</div>
							<div class="col-xs-4"><label for="gateway">Gateway</label></div>
							<div class="col-xs-7">
                                <input type="text" class="form-control" name="gateway" value="{{gateway}}">
							</div>
						</div>
						<div class="row col-xs-12">
                            <div class="col-xs-1">&nbsp;</div>
							<div class="col-xs-4"><label for="dns">DNS</label></div>
							<div class="col-xs-7">
								<input type="text" class="form-control" name="dns" value="{{#each dns}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}">
							</div>
						</div>
						<div class="row-spacer">
							<p>&nbsp;</p>
						</div>
						<div class="row-spacer">
							<p>&nbsp;</p>
						</div>
					</div>
				</div>

				<div class="row col-xs-12">
                    <div class="row-spacer">
                        <p>&nbsp;</p>
                    </div>
					<div class="col-xs-4"><label>Data Storage Server</label></div>
					<div class="input-group col-xs-8" id="data-source-type" class="col-md-3" name="data-source-type">
						<input type="radio" name="cloud_storage_enabled" value="1">Cloud&nbsp;
						<input type="radio" name="cloud_storage_enabled" value="0">Network URL&nbsp;
					</div>
					<div class="row-spacer">
						<p>&nbsp;</p>
					</div>
					<div class="row show_cloud_settings col-xs-12">
                        <div class="col-xs-1">&nbsp;</div>
						<div class="col-xs-3"><label for="destinationAddress">Destination</label></div>
						<div class="col-xs-8">
							<input type="text" class="form-control" name="destinationaddress" value="{{data_destination_url}}">
								example: http://www.localserver.com:12345
						</div>
					</div>
					<div class="row-spacer">
						<p>&nbsp;</p>
					</div>
				</div>
                <div class="row-spacer">
                    <p>&nbsp;</p>
                </div>

                <div class="row-spacer">
                    <p>&nbsp;</p>
                </div>

				<div class="page-header">
					<h3>Proxy Settings</h3>
				</div>
				<div class="row col-xs-12">
					<div class="col-xs-3"></div>
					<div class="input-group col-xs-9" id="proxy-type" class="col-md-3" name="proxy-type">&nbsp;&nbsp;&nbsp;&nbsp;
						<input type="radio" name="proxy_enabled" value="0">Disable&nbsp;&nbsp;&nbsp;
						<input type="radio" name="proxy_enabled" value="1">Enable&nbsp;
					</div>
                    <div class="row-spacer">
                        <p>&nbsp;</p>
                    </div>
				</div>
				<br>
	
				<div class="row show_proxy_settings col-xs-12">
					<div class="row col-xs-12">
                        <div class="col-xs-1">&nbsp;</div>
						<div class="col-xs-4"><label for="proxy_login">Login</label></div>
						<div class="col-xs-7">
							<input type="text" class="form-control" name="proxy_login" value="{{proxy.User}}">
						</div>
					</div>
					<div class="row col-xs-12">
                        <div class="col-xs-1">&nbsp;</div>
						<div class="col-xs-4"><label for="proxy_password">Password</label></div>
						<div class="col-xs-7">
							<input type="password" class="form-control" name="proxy_password" value="{{proxy.Password}}">
						</div>
					</div>
					<div class="row col-xs-12">
                        <div class="col-xs-1">&nbsp;</div>
						<div class="col-xs-4"><label for="proxy_gateway">Gateway</label></div>
						<div class="col-xs-7">
							<input type="text" class="form-control" name="proxy_gateway" value="{{proxy.Server}}">
						</div>
					</div>
					<div class="row col-xs-12">
                        <div class="col-xs-1">&nbsp;</div>
						<div class="col-xs-4"><label for="proxy_gateway_port">Port</label></div>
						<div class="col-xs-7">
							<input type="text" class="form-control" name="proxy_gateway_port" value="{{proxy.Port}}">
						</div>
					</div>
				</div>
	
				<div class="row col-xs-12">
                    <div class="row-spacer">
                        <p>&nbsp;</p>
                    </div>

                    <div class="col-xs-4">&nbsp;</div>
                    <div class="col-xs-8">
                        <button type="submit" id="updateDataSource" class='btn btn-success col-xs-6'>Update Configuration</button>
                    </div>
				</div>
				
				</div>
			</form>

			<div class="row col-xs-12">
				<div class="row-spacer">
					<p>&nbsp;</p>
				</div>
			</div>

		<script>
			$(function() {
				// handlers for radio button presses.
				$("input[name='cloud_storage_enabled']").on('click', function() {
					var val = $(this).attr("value");
                                        showHideCloudDiv(parseInt(val));
				});
				$("input[name='network_configuration_type']").on('click', function() {
					var val = $(this).attr("value");
					showHideNetworkDiv(parseInt(val));
				});
				$("input[name='proxy_enabled']").on('click', function() {
					var val = $(this).attr("value");
					showHideProxyDiv(parseInt(val));
				});
	
				//setup cloud default values
				$(function() {
					var $radios = $('input[name=cloud_storage_enabled]');
					if($radios.is(':checked') === false) {
						//default is bool value, true false, do a test and use int from there.
                                                let cloud_storage_enabled = "{{cloud_storage_enabled}}";
						if (cloud_storage_enabled === "true") {
							showHideCloudDiv(1);
							$radios.filter('[value=1]').prop('checked', true);
						} else {
							showHideCloudDiv(0);
							$radios.filter('[value=0]').prop('checked', true);
						}
					}
				});

				// select the network type by default
				$(function() {
					var $radios = $('input[name=network_configuration_type]');
					if($radios.is(':checked') === false) {
						$radios.filter('[value={{network_configuration_type}}]').prop('checked', true);
						showHideNetworkDiv({{network_configuration_type}});
					}
				});

				//setup proxy default values
				$(function() {
					var $radios = $('input[name=proxy_enabled]');
					if($radios.is(':checked') === false) {
						if ("{{proxy_enabled}}" === "true") {
							$radios.filter('[value=1]').prop('checked', true);
							showHideProxyDiv(1);
						} else {
							$radios.filter('[value=0]').prop('checked', true);
							showHideProxyDiv(0);
						}
					}
				});

				// select the network type by default
				function showHideNetworkDiv(val) {
					if (val===0) { // 0 means static ethernet
						$('.ethernet_static').show();
						$('.wifi_dhcp').hide();
						$('.wifi_static').hide();
					} else if (val===1) { //1 ethernet dhcp 
						$('.ethernet_static').hide();
						$('.wifi_dhcp').hide();
						$('.wifi_static').hide();
					} else if (val===2) { // 2 wifi static 
						$('.ethernet_static').hide();
						$('.wifi_dhcp').hide();
						$('.wifi_static').show();
					} else if (val===3) { // 3 wifi dhcp 
						$('.ethernet_static').hide();
						$('.wifi_dhcp').show();
						$('.wifi_static').hide();
					}
				};

				function showHideCloudDiv(val) {
					if(val === 1) { //1 means store in cloud, so hide settings
						$('.show_cloud_settings').hide();
					} else {  // otherwise show settings
						$('.show_cloud_settings').show();
					}
				}

				function showHideProxyDiv(val) {
					if(val === 1) {
						$('.show_proxy_settings').show();
                                        } else {
						$('.show_proxy_settings').hide();
					}
				}
				
			}); // end of onload

		</script>
	</body>
</html>
