<!DOCTYPE html>
<html>
	<head>
		<title>WiFi Connect</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css">

		<!-- Latest compiled JavaScript -->
		<script src="js/jquery.min.js" />
		<script src="js/jquery-ui.min.js"></script>

		<script src="js/index.js"></script>
		<script src="js/bootstrap.min.js"></script>

		<link rel="shortcut icon" href="img/SD-logo.ico">

		<style>
			body{padding-top: 80px;}
			logo{margin-top: -4px;}
			.spacer{margin-top: 10px;}
			.h4{color: #8ba400;}
		</style>
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand"><img id="logo" height=30 src="/img/SD-logo.ico"></img></a>
					<a class="navbar-brand">Smart Diagnostics</a>
				</div>
			</div>
		</nav>

		<div class="container theme-showcase" role="main">
			<div class="row">
				<img class="pull-right" height="20%" width="14%" src="/img/Smart_Diagnostics_Logo.png"></img>
			</div>
			<div class="row">
				<h4>Network Configuration</h4>
			</div>

			<div class="row col-lg-8">
				<div class="input-group col-md-10" id="alldata" class="col-md-10" name="alldata">

					<div class="row ethernet_static col-xs-12">
                        <div class="row col-xs-12">
                            <div class="col-xs-4"><p>Type</p></div>
                            <div class="col-xs-8"><p>Ethernet Static</p></div>
                        </div>
                        <div class="row col-xs-12">
                            <div class="col-xs-4"><p>IP Address</p></div>
                            <div class="col-xs-8"><p>{{ip_address}}</p></div>
                        </div>
                        <div class="row col-xs-12">
                            <div class="col-xs-4"><p>Subnet Mask</p></div>
                            <div class="col-xs-8"><p>{{netmask}}</p></div>
                        </div>
                        <div class="row col-xs-12">
                            <div class="col-xs-4"><p>Gateway</p></div>
                            <div class="col-xs-8"><p>{{gateway}}</p></div>
                        </div>
                        <div class="row col-xs-12">
                            <div class="col-xs-4"><p>DNS</p></div>
                            <div class="col-xs-8"><p>{{#each dns}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}</p></div>
                        </div>
                    </div>

                    <div class="row ethernet_dhcp col-xs-12">
                        <div class="row col-xs-12">
                            <div class="col-xs-4"><p>Type</p></div>
                            <div class="col-xs-8"><p>Ethernet DHCP</p></div>
                        </div>
                    </div>

                    <div class="row wifi_static col-xs-12">
                        <div class="row col-xs-12">
                            <div class="col-xs-4"><p>Type</p></div>
                            <div class="col-xs-8"><p>Wifi Static</p></div>
                        </div>
                        <div class="row col-xs-12">
                            <div class="col-xs-4"><p>IP Address</p></div>
                            <div class="col-xs-8"><p>{{ip_address}}</p></div>
                        </div>
                        <div class="row col-xs-12">
                            <div class="col-xs-4"><p>Subnet Mask</p></div>
                            <div class="col-xs-8"><p>{{netmask}}</p></div>
                        </div>
                        <div class="row col-xs-12">
                            <div class="col-xs-4"><p>Gateway</p></div>
                            <div class="col-xs-8"><p>{{gateway}}</p></div>
                        </div>
                        <div class="row col-xs-12">
                            <div class="col-xs-4"><p>DNS</p></div>
                            <div class="col-xs-8"><p>{{#each dns}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}</p></div>
                        </div>
                    </div>

                    <div class="row wifi_dhcp col-xs-12">
                        <div class="row col-xs-12">
                            <div class="col-xs-4"><p>Type</p></div>
                            <div class="col-xs-8"><p>Wifi DHCP</p></div>
                        </div>
                    </div>

					<div class="row">
						<h4>&nbsp;</h4>
					</div>

					<div class="row show_cloud_disabled col-xs-12">
                        <div class="row"><h4>Cloud Storage Disabled</h4></div>
                        <div class="row col-xs-12">
                            <div class="col-xs-4"><p>Non Cloud Destination</p></div>
                            <div class="col-xs-8"><p>{{data_destination_url}}</p></div>
                        </div>
					</div>
                    <div class="row show_cloud_enabled col-xs-12">
                        <div class="row"><h4>Cloud Storage Enabled</h4></div>
					</div>

					<div class="row">
						<h4>&nbsp;</h4>
					</div>
					
					<div class="row proxy_enabled col-xs-12">
                        <div class="row"><h4>Proxy Enabled</h4></div>
                        <div class="row col-xs-12">
                            <div class="col-xs-4"><p>Username</p></div>
                            <div class="col-xs-8"><p>{{proxy.login}}<p></div>
                        </div>
                        <div class="row col-xs-12">
                            <div class="col-xs-4"><p>Password</p></div>
                            <div class="col-xs-8"><p>{{proxy.password}}<p></div>
                        </div>
                        <div class="row col-xs-12">
                            <div class="col-xs-4"><p>Gateway</p></div>
                            <div class="col-xs-8"><p>{{proxy.gateway}}<p></div>
                        </div>
                        <div class="row col-xs-12">
                            <div class="col-xs-4"><p>Port</p></div>
                            <div class="col-xs-8"><p>{{proxy.gateway_port}}<p></div>
                        </div>
                    </div>

                    <div class="row proxy_disabled col-xs-12">
                        <div class="row"><h4>Proxy Disbled</h4></div>
                    </div>

                    <div class="row spacer">
                        <form action="/restart" method="post" enctype="application/x-www-form-urlencoded">
                            <button type="submit" id="none" class='btn btn-success col-md-3'>Reboot</button>
                        </form>
                    </div>

				</div>
			</div>

		<script>
			$(function() {

				$(function() {
                    //setup cloud storage div visability
                    let cloud_storage_enabled = "{{cloud_storage_enabled}}";
                    showHideCloudDiv(cloud_storage_enabled);

                    //setup network config visability
                    let network = parseInt("{{network_configuration_type}}");
                    showHideNetworkDiv(network);

                    //setup proxy visability
                    let proxy_enabled = "{{proxy.enabled}}";
                    showHideProxyDiv(proxy_enabled);
				});

				// select the network type by default
				function showHideNetworkDiv(val) {
					if (val===0) { // 0 means static ethernet
						$('.ethernet_static').show();
						$('.ethernet_dhcp').hide();
						$('.wifi_dhcp').hide();
                        $('.wifi_static').hide();
					} else if (val===1) { //ethernet dhcp 
						$('.ethernet_static').hide();
						$('.ethernet_dhcp').show();
						$('.wifi_dhcp').hide();
                        $('.wifi_static').hide();
					} else if (val===2) { // wifi static 
						$('.ethernet_static').hide();
						$('.ethernet_dhcp').hide();
						$('.wifi_static').show();
						$('.wifi_dhcp').hide();
					} else if (val===3) { // wifi dhcp 
						$('.ethernet_static').hide();
						$('.ethernet_dhcp').hide();
						$('.wifi_static').hide();
						$('.wifi_dhcp').show();
					}
				};

				function showHideCloudDiv(cloud_enabled) {
					if(cloud_enabled === "true") {
						$('.show_cloud_enabled').show();
						$('.show_cloud_disabled').hide();
					} else {
						$('.show_cloud_enabled').hide();
						$('.show_cloud_disabled').show();
					}
				}

				function showHideProxyDiv(proxy_enabled) {
					if (proxy_enabled === "true") {
                        console.log("Showing proxy enabled");
						$('.proxy_enabled').show();
						$('.proxy_disabled').hide();
                    } else {
                        console.log("Showing proxy disabled");
						$('.proxy_enabled').hide();
						$('.proxy_disabled').show();
					}
				}
			});

		</script>
	</body>
</html>
